# 注意：請勿移除文末空行，這將導致運行錯誤。
# ┌───────────── 分鐘   (0 - 59)
# │ ┌─────────── 小時   (0 - 23)
# │ │ ┌───────── 日     (1 - 31)
# │ │ │ ┌─────── 月     (1 - 12)
# │ │ │ │ ┌───── 星期幾 (0 - 7，0 是週日，6 是週六，7 也是週日)
# │ │ │ │ │
# * * * * * /path/to/command

0 0 * * 0 root rm -f /home/acunetix/.acunetix_trial/data/license/wa_data.dat
